@ECHO OFF
PROMPT $p$g
cd c:\flash
cls
echo.
echo.
echo This will flash your Embedded controller firmware
echo.
echo.
echo WARNING: Incorrectly flashing your firmware can damage your laptop.
echo Ensure this is the right firmware version before attempting to flash
echo the firmware - there are minimal checks done.
echo.
echo This disc will flash the file __DIR\__FL2
echo.
type c:\report.txt
echo.
pause
echo on
dosflash /sd /ipf ec /file __DIR\__FL2
