# load regions of memory that have data
load_memory 0x00380  0x40 ../x220.8DHT34WW.img.enc.orig 0x00380 0
load_memory 0x1cfe0 12320 ../x220.8DHT34WW.img.enc.orig 0x1cfe0 0

sizes align 2
sizes word 2
sizes endian big

# List of known keyboard symbols
f keyboard      x 0x00380
f matrix        x 0x1f080
f livekeys_map  x 0x1f190
f list_keytab   x 0x1f1b2

