
load_memory 0 196608 x230.G2HT35WW.img 0 0

datazone 0x20edc 0x23c60

# List of known keyboard symbols
f delayTab1      x 0x214f0
f list_delayTab1 x 0x214fc
f keyboard       x 0x21510
f complex_jumptab 1 0x2164c 
f complex_keys   1 0x2166c
f list_complex_keys 1 0x216a4
f numpad1_keys   1 0x21818
f numpad2_keys   1 0x21858
f fn_keys        1 0x21898
f replacements   1 0x218bc
f matrix         1 0x218d8
f livekeys_map   1 0x219e8
f list_matrix    1 0x21a10

f crc16_table 1 0x00022764

# Misc structures that were not autodetected
f table_211dc 1 0x211dc
f table_215bc 1 0x215bc
f table_21ef8 1 0x21ef8
f table_21f20 1 0x21f20
