
option want_rows 20

# load regions of memory that have data
load_memory 0x20000 0x20000 x280.N20HT29W.img.orig 0x20000 0

# List of known keyboard symbols
f ptr_list_matrix x 0x2b5d0
f list_matrix     x 0x2b5a8
f matrix1         x 0x2b1c0
f livekeys1       x 0x2b2f0
f ptr_fn_keys1    x 0x2b598
f fn_keys1        x 0x2b540
f matrix2         x 0x2b318
f livekeys2       x 0x2b448
f ptr_fn_keys2    x 0x2b5a0
f fn_keys2        x 0x2b560

f list_numpad     x 0x2b1ac
f numpad1_keys    1 0x2b12c
f numpad2_keys    1 0x2b16c

f list_delayTab1  x 0x2ae34
f delayTab1       x 0x2ae28
f table_023b8     x 0x023b8
f keyboard        x 0x2ae48

# TODO
# - Have not found where they have stuck the complex keys replacement table
